body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    background-color: #00ffff;
}
h1{
    margin-top: 7rem;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

label{
    font-size: 20px;
    color: black;
    font-weight: 700;
}
 input{
    height: 20px;
    width: 100px;
    border: 2px solid black;
    border-radius: 3px;
    margin-left: 1rem;
 }

 form{
    margin-left: 40rem;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    border-radius: 10px;
     text-align: start;
 }

 button{
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    height: 2rem;
    width: 5rem;
 }

 @media(max-width:800px){
    body{
        width: 1450px;
    }
    form{
        margin-left: 35rem;
    }
    h1{
        font-size: 40px;
    }
 }

